<a name="About"></a>
<img class="ui fluid image featured" src="http://fpoimg.com/2000x1000?text=Preview">
<div class="content">
    <div class="description">
        <p>Do you call yourself an eclectic expert or delighted dilettante? A maker at heart - or maybe a budding artist? Would you like to explore more of your creative side and meet new people in Portland?</p>
        <p>Louise & Clark offers seasonal collections of creative workshops where you can  craft memorable art and gifts with friends.</p>
        <p>The creators of Louise & Clark:</p>

<div class="ui items">
    <div class="item">
        <div class="ui small circular image">
            <img src="assets/images/profile.jpg">
        </div>
        <div class="content">
            <p>Hi, I'm Christopher - the Graphic Designer (BFA).</p>
            <dl>
                <dt>Favorite Phrase:</dt>
                <dd>"Trust the Process"</dd>
                <dt></dt>
                <dd></dd>
            </dl>
            </p>
        </div>
    </div>
    <div class="item">
        <div class="ui small circular image">
            <img src="assets/images/tricia-profile.jpg">
        </div>
        <div class="content">
            <p>Hi, I'm Tricia - the Illustrator (BFA).</p>
            <dl>
                <dt>Favorite Phrase:</dt>
                <dd>"Makers gonna make."</dd>
                <dt></dt>
                <dd></dd>
            </dl>
            </p>
        </div>
    </div>
</div>


        <p>We love to share and cocreate - this is the summer to meet and make!</p>
    </div>
</div>






<!--     <div class="eight wide column ui items">
        <div class="item">
            <div class="ui circular image">
                <img src="/assets/images/profile.jpg">
            </div>
            <div class="content">
                <div>Christopher</div>
                <div class="description">
                    <p>Christopher is a designer based out of Portland, Oregon. He holds a Bachelor of Fine Art in Graphic Design and Bachelor of Science in Business Administration, Computer Information Systems.</p>
                </div>
            </div>
        </div>
        <div class="item">
            <div class="ui circular image">
                <img src="/assets/images/tricia-profile.jpg">
            </div>
            <div class="content">
                <div>Tricia</div>
                <div class="description">
                    <p></p>
                </div>
            </div>
        </div>
    </div> -->
