<div class="ui five wide computer nine wide tablet sixteen wide mobile column">
    <div class="stick">
        <p class="aside-tagline">Our Workshops</p>
        <p>Attending one of our workshops is a fun way to meet new people, explore your creativity, and make personalized, handmade gifts for family and friends. 
       </p>
        <ol>
            <li>Choose a workshop.</li>
            <li>Pay via Paypal.</li>
            <li>Attend. (We'll send you event updates and address via email.)</li>
        </ol>
        <p>You can learn more in our easy to read <a>Policies</a>.</p>
        <p>Have an idea for a workshop? <a>Make a workshop request.</a></p>
    </div>
</div>
