<footer>
<h1 class="visuallyhidden">Footer</h1>
    <div class="ui container">
        <div class="ui stackable divided equal height stackable grid">
            <div class="seven wide column">
                <h4 class="ui header">Request Workshops for Personal Events</h4>
                <p> Do you want a special activity planned for your next event?
                    <a href="https://nekodiablo.typeform.com/to/EElyUr" data-mode="1" target="_blank">Make a private workshop request. </a>
                    <script>
                    (function() {
                        var qs, js, q, s, d = document,
                            gi = d.getElementById,
                            ce = d.createElement,
                            gt = d.getElementsByTagName,
                            id = 'typef_orm',
                            b = 'https://s3-eu-west-1.amazonaws.com/share.typeform.com/';
                        if (!gi.call(d, id)) {
                            js = ce.call(d, 'script');
                            js.id = id;
                            js.src = b + 'share.js';
                            q = gt.call(d, 'script')[0];
                            q.parentNode.insertBefore(js, q)
                        }
                        id = id + '_';
                    })()
                    </script>
                </p>
            </div>
            <div class="six wide column">
                <h4 class="ui header">Ideas for Future, Public Workshops</h4>
                <a href="https://nekodiablo.typeform.com/to/DMXSAk" data-mode="1" target="_blank">Share your inventive workshop idea.</a>
                <script>
                (function() {
                    var qs, js, q, s, d = document,
                        gi = d.getElementById,
                        ce = d.createElement,
                        gt = d.getElementsByTagName,
                        id = 'typef_orm',
                        b = 'https://s3-eu-west-1.amazonaws.com/share.typeform.com/';
                    if (!gi.call(d, id)) {
                        js = ce.call(d, 'script');
                        js.id = id;
                        js.src = b + 'share.js';
                        q = gt.call(d, 'script')[0];
                        q.parentNode.insertBefore(js, q)
                    }
                    id = id + '_';
                })()
                </script>
            </div>
        </div>
    </div>
</footer>
