<footer>
    <div class="ui container">
        <div class="ui stackable divided equal height stackable grid">

         <div class="seven wide column">
                <h4 class="ui header">Request A Workshop</h4>
                <p>Have an inventive workshop idea? <a>Share your suggestions here.</a></p>
            </div>


            <div class="two wide column">
            <div class="ui link list">
                <nav class="typewriter-font-bold">
                    <ul>
                        <li class="item"><a class="" href="{{ site.url }}#About">About</a></li>
                        <li class="item"><a class="" href="{{ site.url }}#Workshops">Workshops</a></li>
                        <li class="item"><a class="" href="{{ site.url }}/faq">FAQ</a></li>
                    </ul>
                </nav>
                </div>
            </div>

            <div class="one wide column">
                <h4 class="ui header visuallyhidden">Services</h4>
                <div class="ui link list">
                    <a class="item" href="https://www.facebook.com/louiseandclark/"><i class="facebook icon"></i></a>
                    <a class="item" href="https://www.instagram.com/louiseandclark/"><i class="instagram icon"></i></a>
                    <a class="item" href="https://twitter.com/louiseclarkarts"><i class="twitter icon"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>