<header class="ui borderless main menu">
    <div class="ui stackable mobile grid container">
        <div class="ui left floated eight wide column ">
            <a class="nav-logotext red typewriter-font" href="{{ site.baseurl }}/">L&C</a>
            <!-- <p class="company-tagline inline">crafting adventures</p> -->
        </div>
        <div class="ui right floated five wide computer eight wide tablet column">
            <nav class="typewriter-font-bold">
                <ul>
                    <li class="inline-links inline red"><a class="red" href="{{ site.url }}#About">About</a></li>
                    <li class="inline-links inline red"><a class="red" href="{{ site.url }}#Workshops">Workshops</a></li>
                    <li class="inline-links inline red"><a class="red" href="{{ site.url }}/faq">FAQ</a></li>
                </ul>
            </nav>
        </div>
    </div>
    </div>
</header>
