<header class="ui borderless main menu">
<h1 class="visuallyhidden">Header</h1>
    <div class="ui grid container main-menu-container">
        <div class="ui left floated sixteen wide column main-menu">
            <a class="nav-logotext nav-link red typewriter-font" href="{{ site.baseurl }}/"><i class="em em-smiley_cat"></i></a>
            <nav class="main-nav typewriter-font-bold">
                <h2 class="visuallyhidden">Main Navigation</h2>
                <ul>
                    <li class="inline-links inline red"><a class="nav-link red" href="{{ site.url }}#About">About</a></li>
                    <li class="inline-links inline red"><a class="nav-link red" href="{{ site.url }}#Workshops">Workshops</a></li>
                    <li class="inline-links inline red"><a class="nav-link red" href="{{ site.url }}/faq">FAQ</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
