<div class="header-wrap">
    <div class="ui grid container">
        <header class="header sixteen wide column">
            
            <div class="at-louise-and-clark"><h1 class="page-heading inline"><a class="logotext text-shadow" href="{{ site.baseurl }}/">{{ site.title }}</a></h1><span class="at-sign text-shadow typewriter-font">Workshops</span></div>
            <p class="seasonal-tagline">Summertime Fun!</p>
        </header>
        <div class="twelve wide column">    
          <p class="intro text-shadow">Explore your creativity and meet new people at <a class="white" href="{{ site.url }}#Workshops">Louise & Clark workshops</a>.</p>
        </div>
        <div class="four wide column">
            <ul id="instafeed" class="list-style-none">
            </ul>
        </div>
    </div>
</div>


<!-- <a class="twitter-timeline" 
                     href="https://twitter.com/LouiseClarkArts" 
                     data-widget-id="734440474400804865"
                     data-tweet-limit="3"
                    >Tweets by @LouiseClarkArts</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script> -->