<div class="header-wrap">
    <div class="ui grid container">
        <header class="header sixteen wide column">
            <h1 class="visuallyhidden">{{ site.title }}</h1>
            <p class="seasonal-tagline">Summertime Fun!</p>
        </header>
        <div class="twelve wide column">
            <p class="intro text-shadow">
                Join other creative explorers for <a class="white" href="{{ site.url }}#Workshops">workshops</a> in Portland, Oregon. This is Louise & Clark.
            </p>
            <br>
            <p class="intro text-shadow">What do you want to learn and when?
                <a class="white" href="https://louiseandclark.typeform.com/to/DRbJTM" data-mode="1" target="_blank">Share with us here.</a>
                <script>
                (function() {
                    var qs, js, q, s, d = document,
                        gi = d.getElementById,
                        ce = d.createElement,
                        gt = d.getElementsByTagName,
                        id = 'typef_orm',
                        b = 'https://s3-eu-west-1.amazonaws.com/share.typeform.com/';
                    if (!gi.call(d, id)) {
                        js = ce.call(d, 'script');
                        js.id = id;
                        js.src = b + 'share.js';
                        q = gt.call(d, 'script')[0];
                        q.parentNode.insertBefore(js, q)
                    }
                    id = id + '_';
                    if (!gi.call(d, id)) {
                        qs = ce.call(d, 'link');
                        qs.rel = 'stylesheet';
                        qs.id = id;
                        qs.href = b + 'share-button.css';
                        s = gt.call(d, 'head')[0];
                        s.appendChild(qs, s)
                    }
                })()
                </script>
            </p>
        </div>
    </div>
</div>
