<div class="ui five wide computer nine wide tablet sixteen wide mobile column">
    <div id="aside" class="fixedsticky stick">
        <p class="aside-heading tagline">Thanks & Next Steps</p>
        <p>Thank you for your purchase. <i class="empty heart icon"></i>We look forward to meeting and making with you. Please read the "Before the Workshop" section to be prepared. <a href="http://www.meetup.com/louiseandclark/">Join us on Meetup and RSVP</a>. See you soon.
        </p>        
    </div>
</div>
