<a id="Workshops"></a>
<section>
<h1 class="red collection-heading">Summer 2016 Workshops</h1>
<ul class="ui very relaxed divided items workshop-list">
    {% for post in site.categories.summer-2016 reversed %}
    <li class="item">
        <div class="content">
            <a class="alt-link" href="{{ post.url | prepend: site.baseurl }}">
                <div class="ui rounded workshop-list-featured image">
                    <img src="assets/images/{{ post.image }}"> {% if post.status == 'closed' %}
                    <span class="ui large top right attached red label typewriter-font">Full</span> {% endif %}
                </div>
                <h2 class="workshop-heading">{{ post.title }}</h2>
                <span class="typewriter-font-bold">                         
                    {% assign d = post.date | date: "%-d" %}
                    {{ post.date | date: "%A," }}
                    {{ post.date | date: "%B" }}
                    {% case d %}{% when '1' or '21' or '31' %}{{ d }}st{% when '2' or '22' %}{{ d }}nd{% when '3' or '23' %}{{ d }}rd{% else %}{{ d }}th{% endcase %}, {{ post.date | date: "%Y" }} @ {{ post.workshop-start-time }}
                </span>
                <div class="">
                    <p>{{ post.tagline }}</p>
                </div>
            </a>
            {% if post.status == 'closed' %}
            <a>Request another future {{ post.title }} workshop.</a> {% endif %}
        </div>
    </li>
    {% endfor %}
</ul>

<hr class="ui divider">

<div class="ui blue info message">
  <div class="header">
    <p class="typewriter-font">More Workshops On the Way! <i class="write icon"></i></p>
  </div>
 <p>We will be posting additional workshops near the end of June 2016, which include bookplate, coloring book and polymer clay jewelry workshops.</p>
</div>

</section>