<!DOCTYPE html>
<html>
{% include head.html %}

<body>
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="/assets/semantic/semantic.min.js"></script>
    <script src="/assets/javascript/vendor/fixedsticky.js"></script>
    <script>
    $(document).ready(function() {
        $('#aside').fixedsticky();
    });
    </script>
    {% include javascript-inject.html %}
    {% include google-analytics.html %}
</body>

</html>
