--- 
layout: post 
---
{% assign curDate = site.time | date: '%s' %}
{% assign postStartDate = page.date | date: '%s' %}

<article class="ui grid container main-content" vocab="http://schema.org/" typeof="Event">
    <div class="ui left floated ten wide computer sixteen wide tablet sixteen wide mobile column">
        <img class="ui fluid rounded featured image" alt="{{ page.image-alt-text }}" src="{{ site.url }}/assets/images/{{ page.image }}">
        <p class="tagline">{{ page.tagline }}</p>
        <div>
            {{ content }}
        </div>
        {% if page.categories contains 'workshops' and postStartDate > curDate %}
        <div class="typewriter-font social-buttons">
            <p>Add to your calendar and invite your friends:</p>
            <a target="_blank" class="item" href="{{ page.google-calendar }}" data-content="Add to Google Calendar" data-variation="basic">
                <i class="calendar icon"></i>
            </a>
            <a href="{{ page.facebook-post }}" data-content="Invite Friends" data-variation="basic">
                <i class="facebook icon"></i>
            </a>
            <a class="item" href="{{ page.tweet }}" data-content="Share on Twitter" data-variation="basic">
                <i class="twitter icon"></i>
            </a>
        </div>
        {% endif %}
    </div>
{% include workshop-post-aside.html %}
</article>